<div>
	<form ng-submit="catalogo.buscar()">
		<table>
			<tr>
				<td><input type="submit" value="Buscar"/></td>
				<td> <input id="name" name="titulo" ng-model="catalogo.filtro.busqueda"/></td>
				<td> <select id="categoria" name="categoria" ng-model="catalogo.filtro.categoria">
						<option value="">Seleccione una Categoría</option>
						<option ng-repeat="categoria in catalogo.categorias" value="{{categoria.id}}">{{categoria.descripcion}}</option>					
					</select>
				</td>
			</tr>
		</table>
	</form>

	<div ng-if="catalogo.msg" style="color: blue;">{{catalogo.msg}}</div>
	<div ng-if="catalogo.error" style="color: red;">{{catalogo.error}}</div>
	<div ng-if="catalogo.mostrarResult">
		<br>
		<h2>Resultado Búsqueda</h2>
		
		<ol>
			<li ng-repeat="libro in catalogo.resultBusqueda.libros">{{libro.titulo }} ({{libro.precio}})
				 (<a href="" ng-click="catalogo.detalleLibro(libro.id)">Detalle</a>)</li>
		</ol>
	</div>
	<div ng-if="catalogo.mostrarDetalle">
		<h2>Detalle Libro</h2>
		<dl>
			<dt>Titulo</dt>
			<dd>{{catalogo.detalle.titulo }}</dd>
			<dt>Descripción:</dt>
			<dd>{{catalogo.detalle.descripcion }}</dd>
			<dt>Precio:</dt>
			<dd>{{catalogo.detalle.precio}}</dd>
			<dt>Año:</dt>
			<dd>{{catalogo.detalle.anno }}</dd>
			<dt>Autor:</dt>
			<dd>{{catalogo.detalle.autores}}</dd>
			<dt>ISBN:</dt>
			<dd>{{catalogo.detalle.isbn }}</dd>
			<dt>Categoría:</dt>
			<dd>{{catalogo.detalle.categoria.descripcion }}</dd>
		</dl>
		<a href="" ng-click="catalogo.volver()">Volver</a>
		<div ng-show="autenticado">
			<a href="" ng-click="catalogo.addCarrito()">Añadir a Carrito</a>
			<input ng-model="catalogo.cantidad" size="4">
		</div>
	</div>
</div>