<h2>Búsqueda Catálogo</h2>
<form >
	<table>
		<tr>
			<td><label for="titulo">Titulo:</label> </td>
			<td> <input id="name" name="titulo" /></td>
		</tr>
		<tr>
			<td><label for="categoria">Categoría:</label> </td>
			<td> <select id="categoria" name="categoria">
				<option value="">Seleccione una Categoría</option>
				<option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.descripcion}}</option>					
			</select></td>
		<tr>
			<td colspan="2" align="right"> <input type="submit" value="Buscar"/></td>
		</tr>
	</table>
</form>	