<!-- <div class="alert alert-danger" ng-show="error"> -->
<!-- 	There was a problem logging in. Please try again. -->
<!-- </div> -->
<h2>Registro</h2>
<form role="form" ng-submit="menu.login()">
	<table>
		<tr>
			<td><label for="username">Username:</label></td>
			<td><input type="text" id="username" name="username" 
					ng-model="menu.credenciales.nombreusuario"/></td>
		</tr>
		<tr>
			<td><label for="password">Password:</label></td>
			<td><input type="password" id="password" name="password" 
					ng-model="menu.credenciales.password"/></td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit">Acceso</button></td>
		</tr>
	</table>
</form>