<nav>
	<table>
		<tr>
			<td><div ng-show="autenticated"><a href="#/iniciocliente">Inicio cliente</a></div></td>
			<td><div ng-show="autenticated"><a href="#/cuenta">Gestión Cuenta</a></div></td>
			<td><div ng-show="autenticated"><a href="#/catalogo">Catálogo</a></div></td>
			<td><a href="#/logout">Salir</a></td>
			<td><span >{{nombreusuario}}</span> </td>
			<td>
				<div id="divCarrito" ng-show="carrito">
					<a href="#/verCarrito">Carrito ({{sessionScope.carrito.numElementos()}})</a>
				</div>
			</td>
		</tr>
	</table>
</nav>